<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--<servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.super404.web.servlet.UserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>-->

    <!--<context-param>
        <param-name>url</param-name>
        <param-value>super404.com</param-value>
    </context-param>

    <context-param>
        <param-name>username</param-name>
        <param-value>jack</param-value>
    </context-param>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>-->
    
    <context-param>
        <param-name>url</param-name>
        <param-value>https://xdclass.net</param-value>
    </context-param>
    
    <context-param>
        <param-name>topic</param-name>
        <param-value>小滴课堂java高级工程师成长专题视频</param-value>
    </context-param>
</web-app>